div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
font-size: 80px;
font-weight: bold;
text-align: center;
font-family: "Poppins", sans-serif;

}


p {
    font-size: 40px;
    text-align: center;
}

button {
    width: 200px;
    height: 100px;
    background-color: blue;
   
}
button:hover {

    background-color: green;
    text-align: center;
}

#demo {
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}